<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu" matTooltip="Language">
        <mat-icon>expand_more</mat-icon>
        <span>{{current_lang}}</span>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="current_lang = 'ES'">ES</button>
        <button mat-menu-item (click)="current_lang = 'EN'">EN</button>
    </mat-menu>
    <span class="spacer"></span>
    <div class="logo">
        <img style="width: 50px;" src="../../assets/logo.png" alt="">
    </div>
</mat-toolbar>