<div class="title">
    <mat-icon>code</mat-icon>
    <br>
    <span>WEB</span>
</div>

<div>
    <span class="subtitle">2022 </span>
    <span *ngIf="data.lang == 'es'" class="minititle">Desarrollador Fullstack</span>
    <span *ngIf="data.lang == 'en'" class="minititle">Fullstack Developer</span>

    <p *ngIf="data.lang == 'es'">Desarrollo de una plataforma de salud, implementada en Angular, Node,
        MariaDB y desplegada en AWS para la organización indígena CRIDEC
        -ACICAL, en la cual se implementa un observatorio de datos que
        sustenta la toma de decisiones sobre las políticas y planes de acción de
        la salud propia de los pueblos indígenas del departamento de Caldas.</p>

    <p *ngIf="data.lang == 'en'">Development of a health platform, implemented in Angular, Node,
        MariaDB and deplyoed in AWS made for indigenous organization
        CRIDEC-ACICAL, in which a data observatory was implemented so the
        decision making over policies and action plans of own-health for the
        indigenous comunities from Caldas department can substantiated.</p>
</div>

<div>
    <span class="subtitle">2021 </span>
    <span *ngIf="data.lang == 'es'" class="minititle">Desarrollador Cloud Middle</span>
    <span *ngIf="data.lang == 'en'" class="minititle">Middle Cloud Developer</span>

    <p *ngIf="data.lang == 'es'">Soporte desde el área SRE a múltiples plataformas desarrolladas en
        distintas tecnologías, tales cómo: Angular, Vue, Node, Ionic y Laravel.
        Gestión de usuarios finales liderando reuniones periódicas, para la
        resolución de incidentes presentados en las distintas plataformas.</p>

    <p *ngIf="data.lang == 'en'">Technical support from SRE area for mulitple platforms developed in
        different technologies, such as: Angular, Vue, Node, Ionic and Laravel.
        Final user management leading recurring meetings, to resolve the
        incidents presented in these platforms.</p>
</div>

<div>
    <span class="subtitle">2019 </span>
    <span *ngIf="data.lang == 'es'" class="minititle">Desarrollador Cloud Junior</span>
    <span *ngIf="data.lang == 'en'" class="minititle">Junior Cloud Developer</span>

    <p *ngIf="data.lang == 'es'">Automatización de procesos ofimáticos en GSuite, creación y despliegue
        de plataformas web (front-end y back-end) con Apps Script, creación de
        máquinas virtuales (App Engine) en la nube de Google en Laravel con
        base de datos en CloudSQL.</p>

    <p *ngIf="data.lang == 'en'">Google Workspace office automatization, web platfroms creation and
        deployment (front-end and back-end) using Google Apps Script, virtual
        machines administration (App Engine) on Google Cloud usgin Laravel
        and CloudSQL as a database.</p>
</div>

<div>
    <span class="subtitle">2017 ~ 2019 </span>
    <span *ngIf="data.lang == 'es'" class="minititle">Desarrollador Web</span>
    <span *ngIf="data.lang == 'en'" class="minititle">Web Developer</span>

    <p *ngIf="data.lang == 'es'">Creación y diseño de páginas web usando HTML, CSS y JavaScript.</p>

    <p *ngIf="data.lang == 'en'">Web page creation and design using HTML, CSS and JavaScript.</p>

    <iframe src="https://www.youtube.com/embed/U-WRUdMDSD4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/rDwJhhFxpwE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>