<!DOCTYPE html>
<html>
<head>
	<link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
	<link rel="manifest" href="../img/manifest.json">
	<link rel="mask-icon" href="../img/safari-pinned-tab.svg" color="#fea500">
	<meta name="theme-color" content="#ffffff">
	<title>Recursos</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../styles/portfolio.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="w3-black">
	<div class="w3-padding-large">
		<header class="w3-center">
			<a href="../index.html"><i class="fa fa-chevron-circle-left w3-xxlarge" aria-hidden="true"></i></a>
			<h1><span>Recursos</span></h1>
			<hr class="hr-color">
		</header>

		<div class="w3-content w3-justify">
			<div id="td-stuff">
				<h2><span style="color: #3C0000">3D</span></h2>
				<hr style="margin-left: 0" class="hr-color" width="50%">
				<div class="tooltip">
					<a target="_blank" href="https://www.itoosoft.com/forestpack.php#versions"><img src="../img/fp.jpg"></a>
					<figcaption class="w3-center">Forest Pack</figcaption>
					<span style="letter-spacing: 1px" class="tooltiptext">Plug-in de 3DSMAX para poblar con vegetación, da acabados muy reales y muy agradables a la vista.</span>
				</div>
				<div class="tooltip">
					<a target="_blank" href="http://graphics.uni-konstanz.de/~luft/ivy_generator/"><img src="../img/ivy_gen.jpg"></a>
					<figcaption class="w3-center">An Ivy Generator</figcaption>
					<span style="letter-spacing: 1px" class="tooltiptext">Software que permite agregar enredaderas a cualquier escena "plantando" una semilla.<br>
					Da un resultado muy agradable.</span>
				</div>
				<div class="tooltip">
					<a target="_blank" href="https://www.youtube.com/channel/UCOKHwx1VCdgnxwbjyb9Iu1g"><img src="../img/blenderguru.jpg"></a>
					<figcaption class="w3-center">Blender Guru</figcaption>
					<span style="letter-spacing: 1px" class="tooltiptext">Canal de youtube con tutoriales para usar Blender.<br>
					Tiene tutoriales MUY útiles y fáciles de entender, si estás queriendo aprender Blender, tiene videos muy buenos para empezar.</span>
				</div>
				<div class="tooltip">
					<a target="_blank" href="https://www.youtube.com/channel/UC9VayT7q3pQ7tdF-TG4Q0yQ"><img src="../img/cgcookie.jpg"></a>
					<figcaption class="w3-center">CG Cookie Blender</figcaption>
					<span style="letter-spacing: 1px" class="tooltiptext">Este canal de youtube tiene videos rápidos con consejos y ejemplos para el modelado y animación en Blender.</span>
				</div>
				<div class="tooltip">
					<a target="_blank" href="https://www.youtube.com/channel/UCp_SOgsRYdLfIEWLjM62ZJg"><img src="../img/holistic3d.jpg"></a>
					<figcaption class="w3-center">Holistic3d</figcaption>
					<span style="letter-spacing: 1px" class="tooltiptext">En este canal de youtube nos enseñan muchas cosas de Unity que resultan muy útiles para usrlas en los proyectos.</span>
				</div>
				<div class="tooltip">
					<a target="_blank" href="https://www.youtube.com/channel/UCEQXp_fcqwPcqrzNtWJ1w9w"><img src="../img/nick_saporito.jpg"></a>
					<figcaption class="w3-center">Nick Saporito</figcaption>
					<span style="letter-spacing: 1px" class="tooltiptext">Tiene videos con tutoriales bastante útiles para GIMP e Inkscape.<br></span>
				</div>
				<div class="tooltip">
					<a target="_blank" href="https://www.youtube.com/user/The3DTutorr"><img src="../img/3d_tutor.jpg"></a>
					<figcaption class="w3-center">The 3D Tutor</figcaption>
					<span style="letter-spacing: 1px" class="tooltiptext">En su canal hay tutoriales que ayudan mucho a la hora de modelar en 3DSMAX y otros tutoriales para usar Unreal Engine.</span>
				</div>
				<div class="tooltip">
					<a target="_blank" href="https://www.youtube.com/user/kames36"><img src="../img/kames.jpg"></a>
					<figcaption class="w3-center">Tutoriales Kames</figcaption>
					<span style="letter-spacing: 1px" class="tooltiptext">Es un canal muy completo con tutoriales para 3DSMAX, ZBrush, Substance Painter y otros más.<br>
					Además que hace reviews de productos y software y lo mejor es que ¡está en español!</span>
				</div>
				<div class="tooltip">
					<a target="_blank" href="https://developer.valvesoftware.com/wiki/Normal_Map_Creation_in_The_GIMP"><img src="../img/normal.jpg"></a>
					<figcaption class="w3-center">Generar Normal Maps</figcaption>
					<span style="letter-spacing: 1px" class="tooltiptext">Un Plug-in que encontré para hacer normal maps de texturas desde GIMP.</span>
				</div>
			</div>
		</div>
			
	</div>
</body>
</html>