<div class="title">
    <mat-icon>view_in_ar</mat-icon>
    <br>
    <span>AR/VR</span>
</div>

<div>
    <span class="minititle">CHEC VR</span>
    <p *ngIf="data.lang == 'es'">Ambientes en realidad virtual para el entrenamiento de personal
    técinco en la manipulación de redes eléctricas aéreas y subtarraneas.</p>

    <p *ngIf="data.lang == 'en'">Virtual reality environments so electric technicians can
        learn and train how to manipulate aerial and underground electrical
        networks.</p>
    <iframe src="https://www.youtube.com/embed/oT6LM6MsUDc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div>
    <span class="minititle">Bilrost AR</span>
    <p *ngIf="data.lang == 'es'">Una experiencia para acompañar ésta cerveza. 
        Se escanea la etiqueta para ver el vikingo salir de la botella y narrar la inspiración detrás de los sabores de la cerveza.</p>
        
    <p *ngIf="data.lang == 'en'">An experience to accompany this beer.
        The user must scan the label on the bottle and then the viking comes out and tells the inspiration behind the flavors of the beer.
    </p>
    <iframe src="https://www.youtube.com/embed/A_WhknttL60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div>
    <span class="minititle">Tintopoly</span>
    <p *ngIf="data.lang == 'es'">Juego de mesa en realidad aumentada que busca dar a conocer el paisaje cultural cafetero de Colombia y alzar conciencia para cuidarlo. Se escanea un tablero con el marcador y se lanzan los dados para ver cuántas posiciones se va a mover el jugador. En cada casilla puede haber un minijuego, una trivia o la tarea de encontrar un elemento escondido en el mapa.</p>
    <p *ngIf="data.lang == 'en'">Tabletop game made with augmented reality that seeks to introduce the colombian cultural landscape and raise awareness to take care of it. The user scans a board with the marker and throws the dice to move the token. In each tile the user will find either a minigame, a trivia or the task to find a hidden element on the map.</p>
    <iframe title="vimeo-player" src="https://player.vimeo.com/video/304692110?h=378e7d6dca?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allowfullscreen></iframe>
</div>