<div class="title">
    <span *ngIf="current_lang == 'es'">CONTACTO</span>
    <span *ngIf="current_lang == 'en'">CONTACT</span>
</div>

<div class="container">
    <br>
    <mat-icon>location_on</mat-icon>
    <span> Colombia</span>
    <br>
    <mat-icon>alternate_email</mat-icon>
    <a id="email" target="_blank"
        href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;to=jmzuluagah@gmail.com">
        <span> jmzuluagah@gmail.com </span>
        <mat-icon style="font-size: 15px; display: inline;">open_in_new</mat-icon>
    </a>
    <br>
    <br>
    <div class="links">
        <a href="https://github.com/jmzulh" target="_blank"><i class="fa fa-github w3-hover-opacity"></i></a>
        <a href="https://www.linkedin.com/in/jmzulh/" target="_blank"><i
                class="fa fa-linkedin w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/jmzh_3d/" target="_blank"><i
                class="fa fa-instagram w3-hover-opacity"></i></a>
    </div>
</div>