<div class="title">
    <span>ACERCA DE MI</span>
</div>

<div class="subtitle">
    <span>DESARROLLADOR DE SOFTWARE</span>
</div>

<div class="text">
    <p>
        {{anios}} años desarrollando aplicaciones y plataformas interactivas y multiproposito en múltiples tecnologías entregando experiencias innovadoras y de valor para los usuarios.<br>
        Me gusta la música, los perros, las creaturas que no existen y las que sí existen también.
    </p>
</div>

<div class="subtitle">
    <span>HABILIDADES</span>
</div>

<div class="habilidades">
    <div>
        <span>
            <a href="https://unity.com/" target="_blank"><p>Unity</p></a>
        </span>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </div>

    <div>
        <span>
            <a href="https://www.javascript.com/" target="_blank"><p>JavaScript</p></a>
        </span>
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </div>

    <div>
        <span>
            <a href="https://nodejs.org/en/" target="_blank"><p>Node</p></a>
        </span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    </div>

    <div>
        <span>
          <a href="https://angular.io/" target="_blank"><p>Angular</p></a>
        </span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    </div>
</div>