.habilidades{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.habilidades div{
    margin-top: 10px;
}

mat-progress-bar{
    height: 6px;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #464646;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

@media only screen and (max-width: 600px) {
    .text{
        text-align: left;
    }
  }