<div class="title">
    <span *ngIf="current_lang == 'es'">ACERCA DE MI</span>
    <span *ngIf="current_lang == 'en'">ABOUT ME</span>
</div>

<div class="subtitle">
    <span *ngIf="current_lang == 'es'">DESARROLLADOR DE SOFTWARE</span>
    <span *ngIf="current_lang == 'en'">SOFTWARE DEVELOPER</span>
</div>

<div class="text">
    <p *ngIf="current_lang == 'es'">
        {{anios}} años desarrollando aplicaciones y plataformas interactivas y multipropósito en múltiples tecnologías entregando experiencias innovadoras y de valor para los usuarios.<br>
        Me gusta la música, los perros y las creaturas que no existen.
    </p>

    <p *ngIf="current_lang == 'en'">
        {{anios}} years developing multipurpose and interactive apps and platforms in multilpe technologies delivering innovative and valuable user experiences.<br>
        I like music, dogs and creatures that don't exist.
    </p>
</div>

<div class="subtitle">
    <span *ngIf="current_lang == 'es'">HABILIDADES</span>
    <span *ngIf="current_lang == 'en'">SKILLS</span>
</div>

<div class="habilidades">
    <div>
        <span>
            <a href="https://unity.com/" target="_blank"><p>Unity</p></a>
        </span>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </div>

    <div>
        <span>
            <a href="https://www.javascript.com/" target="_blank"><p>JavaScript</p></a>
        </span>
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </div>

    <div>
        <span>
            <a href="https://nodejs.org/en/" target="_blank"><p>Node</p></a>
        </span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    </div>

    <div>
        <span>
          <a href="https://angular.io/" target="_blank"><p>Angular</p></a>
        </span>
        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    </div>
</div>