<div class="title">
    <mat-icon>sports_esports</mat-icon>
    <br>
    <span>VIDEOJUEGOS</span>
</div>

<div>
    <span class="subtitle">2018 </span>
    <span class="minititle">Tintopoly</span>
    
    <p *ngIf="data.lang == 'es'">Minijuegos de Tintopoly sin el componente de AR.<br>
        DESCARGA EL APK PARA UNA MEJOR EXPERIENCIA.
    </p>

    <p *ngIf="data.lang == 'en'">Tintopoly's minigames without the AR component.<br>
        DOWNLOAD DE APK FOR A BETTER EXPERIENCE.
    </p>
    <iframe frameborder="0" src="https://itch.io/embed/1886468" height="167"><a href="https://jmzulh.itch.io/tintopoly">Tintopoly by jmzulh</a></iframe>
</div>

<div>
    <span class="subtitle">2018 </span>
    <span class="minititle">JetPack Kid</span>
    
    <p *ngIf="data.lang == 'es'">Videojuego promocional del programa técnico para desarrollo de videojuegos ofertado por <a href="https://american.edu.co/" target="_blank">American Business School</a> de Mazaniles.</p>

    <p *ngIf="data.lang == 'en'">Promotional videogame for the videogame development technical program offered by <a href="https://american.edu.co/" target="_blank">American Business School</a> from Mazaniles.</p>
    <iframe frameborder="0" src="https://itch.io/embed/1886206" height="167"><a href="https://jmzulh.itch.io/jetpack-kid">JetPack Kid by jmzulh</a></iframe>
</div>