<div class="title">
    <mat-icon>token</mat-icon>
    <br>
    <span>3D</span>
</div>

<div>
    <span class="subtitle">2018 </span>
    <span class="minititle">Alien</span>
    <p *ngIf="data.lang == 'es'">Ejerecicio de escultura digital usando Sculptris.</p>

    <p *ngIf="data.lang == 'en'">Digital sculpture excercise using Sculptris.</p>
    <div class="centered-image"><img src="../../../assets/3d/alien.png" alt=""></div>
    <a href="https://skfb.ly/6rE8X" target="_blank">Ver en Sketchfab</a>
</div>

<div>
    <span class="subtitle">2018 </span>
    <span class="minititle">Plaza de toros</span>
    <p *ngIf="data.lang == 'es'">Representación cartoon de uno de los sistios emblemáticos de Manizales.</p>

    <p *ngIf="data.lang == 'en'">Cartoon rendition of a very iconic place of Manizales.</p>
    <div class="centered-image"><img src="../../../assets/3d/plaza_de_toros.jpg" alt=""></div>
    <a href="https://skfb.ly/6sKUn" target="_blank">Ver en Sketchfab</a>
</div>

<div>
    <span class="subtitle">2017 </span>
    <span class="minititle">Platado de buñuelos</span>
    <p *ngIf="data.lang == 'es'">Ejercicio de modelado básico de Blender. En el tutorial explican cómo hacer una dona pero yo quise hacer algo que me gusta más.</p>

    <p *ngIf="data.lang == 'en'">Basic modeling excercise using  Blender. In the tutorial they show how to make a donut but i wanted to make something i enjoy more.</p>
    <div class="centered-image"><img src="../../../assets/3d/buñuelos.png" alt=""></div>
</div>

<div>
    <span class="subtitle">2017 </span>
    <span class="minititle">Torre</span>
    <p *ngIf="data.lang == 'es'">Torre hecha siguiendo un tutorial.</p>

    <p *ngIf="data.lang == 'en'">Tower made following a tutorial.</p>
    <div class="centered-image">
        <img src="../../../assets/3d/tower.jpg" alt="">
    </div>
    <a href="https://skfb.ly/PFu7" target="_blank">Ver en Sketchfab</a>
</div>

<div>
    <span class="subtitle">2017 </span>
    <span class="minititle">Jardín</span>
    <p *ngIf="data.lang == 'es'">Proyecto final de la materia de modelado 3D.</p>

    <p *ngIf="data.lang == 'en'">Final project of the 3d modeling course.</p>
    <div class="centered-image"><img src="../../../assets/3d/garden.png" alt=""></div>
</div>

<div>
    <span class="subtitle">2017 </span>
    
    <span class="minititle" *ngIf="data.lang == 'es'">Algunos de estos trabajos más a detalle</span>
    <span class="minititle" *ngIf="data.lang == 'en'">Some of these projects more in depth</span>

    <p *ngIf="data.lang == 'es'">Demo reel con los trabajos del último semestre.</p>
    <p *ngIf="data.lang == 'en'">Demo reel containing the projects made in the last semester.</p>
    <iframe src="https://www.youtube.com/embed/dN6tKykg-ME" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div>
    <a href="https://www.instagram.com/jmzh_3d/" target="_blank" *ngIf="data.lang == 'es'">Otros trabajos</a>
    <a href="https://www.instagram.com/jmzh_3d/" target="_blank" *ngIf="data.lang == 'en'">More projects</a>
</div>