/* You can add global styles to this file, and also import other style files */

*{
    font-family: 'Oxygen Mono', monospace;
}
html, body { height: 100%; }
body { margin: 0}

.title{
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
}

.minititle{
    font-size: 18px;
    font-style: italic;
}

.subtitle{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 90%;
    font-style: italic;
    color: grey;
}

.text{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: justify;
}